---
import countries from "../../../json/visa-reqs.json"
import FlagCard from "../../../components/FlagCard.astro";
import Main from "../../../layouts/Main.astro";
---
<Main title="Visas | Anatoli">
    <main class="pt-4 container mx-auto" id="main-content">
        <h1>Visas and Entry Requirements</h1>
        <p>Find out if you need a visa to enter Anatoli.</p>
        <section class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-cols-1">
            {countries.countries.map((country) =>
                <FlagCard name={country.country} flagsrc={country.flag} visaReq={`${country.visas.visitor}`} url={`visas/${country.short}`}>
                    <p>{country.notes}</p>
                </FlagCard>
            )}
        </section>
    </main>
</Main>